@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

a,
a:active,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #b8b7b7;
}
.header-contacts {
  width: 30%;
  margin: 0 auto;
  height: 3em;
  display: flex;
  justify-content: space-around;
  padding: 1em 0 0 5%;
}
.header-contacts__socials {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}
.header-contacts__socials i {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.navbar {
  width: 80%;
  margin: 2em auto;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}
.navbar-nav__logo img {
  width: 30%;
}
.navbar-nav__navbar {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav__navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 2em;
}
.navbar-nav__navbar ul li {
  list-style-type: none;
  text-transform: uppercase;
}
.navbar-nav__navbar ul li:hover {
  color: grey;
  transition: all 0.2s ease-in-out;
}

.mobile-nav {
  display: none;
}

.main img {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0.25;
  width: 100%;
}
.main-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 70%;
  margin: 10% 5em;
  z-index: 2;
}
.main-text h3 {
  font-size: 2em;
  font-weight: 700;
}
.main-text p {
  font-weight: 700;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.main-text p i {
  font-size: 1.2em;
  color: #fff;
  border: 1px solid transparent;
  padding: 0.3em;
  border-radius: 50%;
  background-color: blue;
  margin-right: 1em;
}

.guarantee {
  width: 100%;
  background-color: aquamarine;
  height: 15em;
  margin: 13.5em 0 2em;
  padding: 0 30%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.guarantee-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}
.guarantee-item p {
  width: 100%;
  margin-top: 2em;
  font-size: 1.3em;
}
.guarantee-item i {
  font-size: 4em;
  overflow-y: hidden;
}

.examples {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.examples h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1em auto;
}
.examples .slider {
  width: 100%;
}
.examples .slider .slide-item {
  width: 100%;
}
.examples .slider .slide-item img {
  width: 50%;
  margin: 0 auto;
}

.arrows {
  margin: 0.5em auto;
  display: flex;
  gap: 2em;
}
.arrows .fa-angles-left:hover,
.arrows .fa-angles-right:hover {
  cursor: pointer;
  color: red;
}

.catalogue {
  width: 80%;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: stretch;
}
.catalogue h3 {
  width: 100%;
}
.catalogue-item {
  width: 23%;
  align-self: center;
  text-align: center;
  border: 1px solid grey;
}
.catalogue-item img {
  width: 100%;
  margin-bottom: 2em;
  max-height: 200px;
}
.catalogue-item p {
  margin-bottom: 2em;
  font-weight: 700;
  padding: 0 1em;
}

.services {
  width: 80%;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.services h3 {
  width: 100%;
  margin-bottom: 3em;
}
.services-item {
  width: 30%;
  text-align: center;
  border: 1px solid grey;
}
.services-item img {
  width: 100%;
}
.services-item p {
  margin: 1em auto;
  font-weight: 700;
}

.terms {
  width: 80%;
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.terms h3 {
  width: 100%;
  margin-bottom: 2em;
}
.terms-item {
  width: 30%;
  text-align: center;
}

.faq {
  width: 80%;
  margin: 7em auto;
  display: flex;
  justify-content: space-between;
}
.faq-items {
  width: 40%;
}
.faq-items__item {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid grey;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.faq-items__item p {
  margin: 1em;
  width: 100%;
  display: none;
  cursor: default;
}
.faq-items__item span {
  width: 90%;
  cursor: default;
}
.faq-items__item i {
  cursor: pointer;
}

.arrow-block {
  width: 100%;
  display: flex;
  align-items: center;
}

.visible {
  display: flex !important;
  flex-direction: column;
}

.transform {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.arrow-block__hidden {
  display: none;
}

.show-more {
  width: 50%;
  display: flex;
  align-self: center;
  margin: 1em auto;
  background: transparent;
  padding: 1em 3em;
  outline: none;
  border: 1px solid grey;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 100%;
  }
  .header-contacts {
    width: 100%;
    justify-content: space-around;
  }
  .header-contacts__socials a {
    font-size: 1em;
  }
  .header-contacts__socials a i {
    font-size: 1em;
  }
  .navbar {
    display: none;
  }
  .mobile-nav {
    display: flex;
    padding: 2em 1em;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav i {
    font-size: 2em;
    overflow: hidden;
  }
  .mobile-nav__navbar {
    display: none;
  }
  .main {
    width: 100%;
  }
  .main img {
    display: none;
  }
  .main-text {
    width: 100%;
    margin: 2em 0.5em;
  }
  .main-text h3 {
    font-size: 1.5em;
  }
  .main-text p {
    font-size: 1em;
  }
  .main-form {
    display: none;
  }
  .guarantee {
    margin: 3em auto;
    justify-content: center;
    padding: 0 0.5em;
  }
  .guarantee-item {
    width: 100%;
  }
  .guarantee-item i {
    font-size: 2em;
  }
  .guarantee-item p {
    font-size: 0.9em;
    overflow: hidden;
  }
  .catalogue {
    width: 100%;
    flex-direction: column;
  }
  .catalogue h3 {
    padding: 1em;
  }
  .catalogue-item {
    width: 90%;
  }
  .services {
    flex-direction: column;
    width: 90%;
    margin: 1em auto;
    gap: 1em;
  }
  .services h3 {
    margin: 1em 0;
  }
  .services-item {
    width: 100%;
  }
  .terms {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .terms-item {
    width: 45%;
  }
  .terms-item img {
    width: 100%;
  }
  .faq {
    flex-direction: column;
  }
  .faq button {
    width: 80%;
    text-align: center;
    color: #000;
  }
  .faq-items {
    width: 100%;
  }
  .b24-form {
    width: 100%;
    overflow: hidden;
  }
  .b24-form-header-title {
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
