@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

i, h3 {
    overflow: hidden;
}

a,
a:active,
a:visited {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

body {
    z-index: 1;
}

// Header styles

.header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #b8b7b7;

    &-contacts {
        width: 30%;
        margin: 0 auto;
        height: 3em;
        display: flex;
        justify-content: space-around;
        padding: 1em 0 0 5%;

        &__socials {
            display: flex;
            flex-direction: row;
            font-size: 1em;
            
            i {
                margin-right: 0.5em;
                margin-left: 0.5em;
            }
        }
    }
}

// Navbar styles

.navbar {
    width: 80%;
    margin: 2em auto;

    &-nav {
        display: flex;
        justify-content: space-between;

        &__logo {
            img {
                width: 30%;
            }
        }

        &__navbar {
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: space-around;
                gap: 2em;

                li {
                    list-style-type: none;
                    text-transform: uppercase;

                    &:hover {
                        color: grey;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }
    }
}

// Mobile navigation

.mobile-nav {
    display: none;
}

// Main styles 

.main {

    img {
        position: absolute;
        background-color: rgb(0, 0, 0);
        opacity: .25;
        width: 100%;
    }

    &-text {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 70%;
        margin: 10% 5em;
        z-index: 2;

        h3 {
            font-size: 2em;
            font-weight: 700;
        }

        p {
            font-weight: 700;
            font-size: 1.5em;
            display: flex;
            align-items: center;

            i {
                font-size: 1.2em;
                color: #fff;
                border: 1px solid transparent;
                padding: 0.3em;
                border-radius: 50%;
                background-color: blue;
                margin-right: 1em;
            }
        }
    }
}

// Guarantee styles

.guarantee {
    width: 100%;
    background-color: aquamarine;
    height: 15em;
    margin: 13.5em 0 2em;
    padding: 0 30%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    &-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;
        justify-content: space-around;
        align-items: center;

        p {
            width: 100%;
            margin-top: 2em;
            font-size: 1.3em;
        }
        
        i {
            font-size: 4em;
            overflow-y: hidden;
        }
    }
}

// Examples and slider

.examples {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 1em auto;
    }

    .slider {
        width: 100%;

        .slide-item {
            width: 100%;

            img {
                width: 50%;
                margin: 0 auto;
            }
        }
    }
}

.arrows {
    margin: 0.5em auto;
    display: flex;
    gap: 2em;

    .fa-angles-left:hover,
    .fa-angles-right:hover {
        cursor: pointer;
        color: red;
    }
}

// Catalogue style

.catalogue {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: stretch;

    h3 {
        width: 100%;
    }

    &-item {
        width: 23%;
        align-self: center;
        text-align: center;
        border: 1px solid grey;

        img {
            width: 100%;
            margin-bottom: 2em;
            max-height: 200px;
        }

        p {
            margin-bottom: 2em;
            font-weight: 700;
            padding: 0 1em;
        }
    }
}

// Services style

.services {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h3 {
        width: 100%;
        margin-bottom: 3em;
    }

    &-item {
        width: 30%;
        text-align: center;
        border: 1px solid grey;
        
        img {
            width: 100%;
        }

        p {
            margin: 1em auto;
            font-weight: 700;
        }
    }
}

// Terms style

.terms {
    width: 80%;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    h3 {
        width: 100%;
        margin-bottom: 2em;
    }

    &-item {
        width: 30%;
        text-align: center;
    }
}

// FAQ styles

.faq {
    width: 80%;
    margin: 7em auto;
    display: flex;
    justify-content: space-between;

    &-items {
        width: 40%;

        &__item {
            padding: 1em;
            margin-bottom: 1em;
            border: 1px solid grey;
            text-align: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: center;

            p {
                margin: 1em;
                width: 100%;
                display: none;
                cursor: default;
            }

            span {
                width: 90%;
                cursor: default;
            }
            
            i {
                cursor: pointer;
            }
        }
    }
}

.arrow-block {
    width: 100%;
    display: flex;
    align-items: center;
}

.visible {
    display: flex !important;
    flex-direction: column;
}

.transform {
    transform: rotate(-90deg);
    transition: transform .2s ease-in-out;
}

.arrow-block__hidden {
    display: none;
}

.show-more {
    width: 50%;
    display: flex;
    align-self: center;
    margin: 1em auto;
    background: transparent;
    padding: 1em 3em;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
}

// Media queries

@media screen and (max-width: 1000px) {

    // Common styles 

    .enabled {
        display: block !important;
        z-index: 11;
    }

    .fixed {
        position: fixed;
        z-index: 11;
    }

    .no-scroll {
        overflow: hidden !important;
    }

    // Common styles end

    .header {
        width: 100%;

        &-contacts {
            width: 100%;
            justify-content: space-around;

            &__socials {
                a {
                    font-size: 1em;

                    i {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .navbar {
        display: none;
    }

    .mobile-nav {
        display: flex;
        padding: 2em 1em;
        justify-content: center;
        align-items: center;

        .fa-bars {
            font-size: 2em;
            overflow: hidden;
        }

        .fa-xmark {
            font-size: 2em;
            overflow: hidden;
            color: #fff;
            display: none;
            position: fixed;
            top: 3em;
            right: 2em;
        }

        &__navbar {
            position: fixed;
            margin: 3em 0;
            overflow-y: hidden;
            display: none;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 0;
            background-color: #000;
            color: #fff;
            animation: vision .5s forwards;

            ul {
                width: 100%;
                padding: 2em 3em;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 50vh;
                overflow: hidden;

                li {
                    font-size: 2em;
                    overflow: hidden;
                }
            }
        }
    }

    .main {
        width: 100%;

        img {
            display: none;
        }

        &-text {
            width: 100%;
            margin: 2em 0.5em;

            h3 {
                font-size: 1.5em;
            }

            p {
                font-size: 1em;
            }
        }

        &-form {
            display: none;
        }
    }

    .guarantee {
        margin: 3em auto;
        justify-content: center;
        padding: 0 0.5em;

        &-item {
            width: 100%;

            i {
                font-size: 2em;
            }

            p {
                font-size: 0.9em;
                overflow: hidden;
            }
        }
    }

    .catalogue {
        width: 100%;
        flex-direction: column;

        h3 {
            padding: 1em;
        }

        &-item {
            width: 90%;
        }
    }

    .services {
        flex-direction: column;
        width: 90%;
        margin: 1em auto;
        gap: 1em;

        h3 {
            margin: 1em 0;
        }

        &-item {
            width: 100%;
        }
    }

    .terms {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 45%;

            img {
                width: 100%;
            }
        }
    }

    .faq {
        flex-direction: column;

        button {
            width: 80%;
            text-align: center;
            color: #000;
        }

        &-items {
            width: 100%;

        }
    }

    .b24-form {
        width: 100%;
        overflow: hidden;
    }

    .b24-form-header-title{
        overflow: hidden;
    }
}

// Animations 

@keyframes vision {
    0% {height: 0;}
    100% {height: 100vh;}
}